<launch>
    <arg name="data_path" default="$(env HOME)" />

    <node name="monarch_pro_wrapper"
        pkg="monarch_ros"
        type="camera_wrapper"
        output="screen">
        <rosparam command="load"
            file="$(find monarch_ros)/config/camera_config.yaml" />
        <param name="data_path" value="$(arg data_path)" type="str" />
    </node>

</launch>
  